{{page-title "IoAdminRepro28"}}

{{!-- The following component displays Ember's default welcome message. --}}
<WelcomePage />
{{!-- Feel free to remove this! --}}

<div class="filler" style="height: 400vh; background: #777; "></div>

<div class="a" style="border: 5px solid #666; margin: 10px;" {{did-insert this.watchElement}}>Container A</div>
<div class="b" style="border: 5px solid #666; margin: 10px;" {{did-insert this.watchElement}}>Container B</div>

<div class="filler" style="height: 100vh;  background: #777; "></div>

{{outlet}}